   .list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 0;
  }
  
  .img {
    cursor: pointer;
    transform: scale(1);
    box-shadow: none;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .img:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 1px 1px rgba(99, 10, 10, 0.5);
  }
  
  .text {
    padding: 4px;
    width: 150px;
  }
  